
{{#each errors}}
<div class="alert alert-danger">{{msg}}</div>
{{else}}

{{/each}}

<h3>Login</h3>
<div class="container-lg ">
   <div class="col">
    <form action="/login" method="POST">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="username" aria-describedby="emailHelp" name="username" placeholder="teste@example.com">
        <label for="exampleInputEmail1">Email address</label>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password" name="password" placeholder="Insira sua senha">
        <label for="password">Password</label>
      </div>
      <button type="submit" class="btn btn-primary mt-4">Log in</button>
    </form>
  </div>
</div>