<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Bem vindo Desafio Hvex</h1>
    <p class="lead">Essa é uma simples aplicação para verificar informações do seu usuário no GitHub.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/register" role="button">Registre-se</a>
  </div>
  <hr>
</div>