<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Bem vindo  ao Desafio Hvex</h1>
    <p class="lead">Essa é uma simples aplicação para verificar informações de qualquer usuário que possua email público no GitHub.</p>
    <p class="lead">Será possivel ver seu avatar e informações relevantes sobre o usuário. </p>
    <h4 class="lead">Venha conferir!</h4>
    <h5 class="lead">Cria uma conta e divirta-se! :) </h5>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/register" role="button">Registre-se</a>
  </div>
  <hr>
</div>